.hero-item {
  border: 1px solid rgb(66, 66, 66);
  border-radius: 5px;
  padding: 10px;
  display: inline-block;
  background-color: rgba(51, 92, 153, 0.25);


  .details {
    text-align: center;
  }

  &.hero-villain {
    background-color: rgba(153, 51, 51, 0.25);
  }

  .hero-name {
    font-weight: bolder;
    font-size: 1.4rem;
  }
  .hero-powerstats {
    display:flex;
    justify-content: space-between;
  }
  
}
.image {
  text-align: center;
}

.image:hover {
    filter: drop-shadow(0 0 10px rgb(0, 255, 98)) hue-rotate(90deg);
  }